body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15;
    margin: 1.5em;
}

h1 {
    font-size: 2em;
    font-family: Georgia, serif;
}

h2 {
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
}

div.style-guide-side-menu {
    display: inline-block;
    float: left;
    clear: both;
    margin: 2em;
}

div.style-guide-side-menu ul {
    background-color: #18453b;
    list-style: none;
    border-radius: 5px;
}

div.style-guide-side-menu ul li {
    padding: .2em .2em .2em 0;
}

div.style-guide-side-menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

div.body-content {
    display: inline-block;
    width: 70%;
}

a.islandora-button {
    color: #ffffff;
    background-color: #c24e24;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

div.codesnippet {
    border: 1px #e2e2e2 solid;
    padding: 2em;
    border-radius: 5px;
}
